/* Cosas */
html, body{
	overflow-x: hidden;
	width: 100vw;
}
.btn-custom{
	background-color: #ed3529;
    color: #fff;
    padding: 2vh 5vw;
}
.btn-custom-btn{
	background-color: #FFF799;
    color: #ed3529;
    font-size: 1.7vw;
    width: 17vw;
    border-radius: 0;
    height: 7vh;
}
.btn-custom-btn:hover{
	background-color: #dad37b;
}

@font-face {
    font-family:'Gill Sans WGL';
    src: url('fonts/GillSansWGL.ttf');
}

@font-face {
    font-family:'Gill Sans WGL Light';
    src: url('fonts/GillSansWGLLight.ttf');
}

@font-face {
    font-family:'Gill Sans WGL Bold';
    src: url('fonts/GillSansWGLBold.ttf');
}
*{
	font-family: 'Gill Sans WGL Light';
}
* b{
	font-family: 'Gill Sans WGL Bold';
}
section h4 b{
	color: rgb(79, 79, 79);
}
/*======= Header =======*/
nav{
	background-color: #ED3529;
	overflow: hidden;
	min-height: 56px;
	height: inherit;
}
nav .nav-wrapper {
     position: inherit; 
}
nav > div > .collapsible{
	display: none;
	width: 100%;
	border-top: 0; 
	border-right: 0; 
	border-left: 0; 
	margin: 0; 
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
nav div a.brand-logo{
	width: 11vw;
    left: 2%;
}
nav div a.brand-logo img{
	width: 100%;
}
nav > div > .collapsible > li{
	width: 100%;
}
nav ul li.active {
    background-color: inherit;
}
nav ul li {
    padding: 0 2vw;
}
nav ul a {
    font-size: 1.5vw;
}
nav ul a i.fa-bars{
	color: #FFF799;
	font-size: 2.3vw;
}
#dropdownDesarrollos{
	top: 10.3vh !important;
    width: inherit !important;
    height: inherit !important;
    background: #ed3529;
}
#dropdownDesarrollos li:hover{
	background: #d23025;
}
#dropdownDesarrollos li a{
	color: #fff;
}
#dropdownDesarrollos li a:hover{
	background: inherit;
}
.collapsible-header {
    background-color: #ed3529;
    border-bottom: 0;

}
.collapsible-header i{
	color: #fff799;
    font-size: 10vw !important;
    right: 30px;
    top: 0;
    position: absolute;
}
.collapsible-body{
	border-bottom: 0;
}
.collapsible-body ul li{
	width: 100%;
    border-bottom: 1px solid;
}
.collapsible-body ul li a{
	width: 100%;
	font-size: 5vw;
}
#collapse-mobile-desarrollo{
	border: 0;
}
#collapse-mobile-desarrollo li .collapsible-header {
    font-size: 3vw;
}
#collapse-mobile-desarrollo li .collapsible-body{
    padding: 0 2rem;
}
#cotizaYa{
    border: 1px solid #fff;
    height: 5vh;
    line-height: 5vh;
    margin-top: 2vh;
    width: 12vw;
    text-align: center;
}

#header-info{
	width: 100vw;
	min-height: 100vh;
}
#header-info > img{
	width: 100vw;
	z-index: -1;
	position: absolute;
}
#header-text{
    width: 50vw;
    background: #ed3529d1;
    /*margin: 53vh 1vw 0 0;*/
    /*float: right;*/
    margin: 0 !important;
    top: 50vh;
    right: 0;
    position: absolute;
}
#header-text > div{
	display: inline-block;
}
#header-text > div#header-img{
	padding: 2vw;
}
#header-text > div#header-img > img{
	width: 9vw;
}
#header-text > div#header-titles{
	width: 36vw;
    float: right;
}
#header-text > div > h3{
	color: #fff;
	font-weight: bold;
	margin-bottom: 0;
}
#header-text > div > h2{
	margin-top: 1vh;
	font-size: 1.4vw;
	color: #fff;
}
#header-text-mobile{
	display: none;
	width: 100vw;
    text-align: center;
    color: #fff;
    padding: 3vh 6vw;
    margin: 0vh 0vw 0 0;
    background: #ed3529;
}
#header-text-mobile > div > h3{
	font-size: 10vw;
}
#header-text-mobile > div > h2{
    font-size: 4vw;
    margin-top: 0;
}
#header-text-mobile > div > h4{
	font-size: 9vw;
	margin-top: 0;
}
#header-text-mobile > div > p{
	font-size: 6vw;
	margin-top: 0;
}
/*======= /Header =======*/

/*======= Main =======*/
#main{
	width: 100vw;
	overflow-x: hidden;
}

#models-section{
	text-align: center;
	background-color: #fff;
	padding: 8vh;
}
#models-section > .swiper-container > .swiper-wrapper{
    width: 62.2vw !important;
    margin: auto;
}
#models-section > .swiper-container > .swiper-wrapper > .swiper-slide{
	border-radius: 5px;
    padding-bottom: 5vh;
    width: 30vw !important;
    min-height: 88vh;
}
#models-section > .swiper-container > .swiper-wrapper.swiper-wrapper-tres{
    width: 100% !important;
}
#models-section > .swiper-container > .swiper-wrapper.swiper-wrapper-tres > .swiper-slide{
    width: 27.9vw !important;
}
#models-section > .swiper-container > .swiper-wrapper.swiper-wrapper-one{
    width: 27.9vw !important;
    margin: auto;
}
#models-section > .swiper-container > .swiper-wrapper.swiper-wrapper-one > .swiper-slide{
    width: 27.9vw !important;
}
#models-section > .swiper-container > .swiper-wrapper > .swiper-slide > div > img{
	width: 100%;
	height: auto;
	display: block;
}
#models-section > .swiper-container > .swiper-wrapper > .swiper-slide > div.models-slide-text{
    padding: 0 1vw 4vh;
}
#models-section > .swiper-container > .swiper-wrapper > .swiper-slide > div.models-slide-text > h5{
	text-align: left;
	color: #ED3529;
	margin-bottom: 5vh;
}
#models-section > .swiper-container > .swiper-wrapper > .swiper-slide > div.models-slide-text > p{
	text-align: left;
	margin: 0;
	font-size: 1.3vw;
	font-family: 'Gill Sans WGL';
}
.swiper-container {
	width: 100%;
	height: 100%;
	padding: 7vh 2vw;
}
#models-section > .swiper-container-mobile > .swiper-wrapper{
    width: 78vw !important;
    margin: auto;
}
#models-section > .swiper-container-mobile > .swiper-wrapper > .swiper-slide{
	border-radius: 5px;
    padding-bottom: 5vh;
    /* width: 77vw !important; */
    min-height: 76vh;
}
#models-section > .swiper-container-mobile > .swiper-wrapper > .swiper-slide > div > img{
	width: 100%;
	display: block;
}
#models-section > .swiper-container-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text{
    padding: 0 3vw 4vh;
}
#models-section > .swiper-container-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text > h5{
	text-align: left;
	color: #ED3529;
	margin-bottom: 5vh;
	font-size: 5vw;
}
#models-section > .swiper-container-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text > p{
	text-align: left;
	margin: 0;
	font-size: 3vw;
}
.swiper-container-mobile {
	width: 100%;
	height: 100%;
	padding: 7vh 2vw;
	display: none;
}

#catalogo-section{
	min-height: 105vh;
}
#catalogo-section > div > #nuevo-desarrollo{
	background-color: #ECECEC;
	color: rgb(79, 79, 79);
	padding: 1vh 6vw;
    height: 100vh;
}
#catalogo-section > div > #catalogo-form{
	color: #fff;
	height: 100vh;
	padding: 1vh 4.8vw;
	text-align: center;
	background-image: url(../images/imagen-contactanos.jpg);
	background-position-x: -13vw;
}
#catalogo-section > div > #catalogo-form > h4{
	font-size: 2.1vw;
	color: #fff;
}
#catalogo-section > div > #catalogo-form > h4 b{
	color: #fff;
}
#catalogo-section > div > #catalogo-form > form > textarea,
#catalogo-section > div > #catalogo-form > form > input{
    width: 30vw;
    background: #fff;
    border: 0;
    margin: 2vh 0;
    padding-left: 2vw;
    color: #000;
}
#catalogo-section > div > #catalogo-form > form > textarea#comment{
	width: 32vw;
	height: 30vh;
}
#catalogo-section > div > #catalogo-form > form > p{
	text-align: left;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: #fff;
    border-radius: 0;
    border: 0; 
}
#catalogo-section > div > #catalogo-form > form > p > label > span{
	color: #fff;
}
#catalogo-section > div > #catalogo-form > form > p > label > span > span{
	color: #FFF799;
}
#catalogo-section > div > #nuevo-desarrollo > p{
	font-size: 1.4vw;
}
#catalogo-section > div > #nuevo-desarrollo > .btn-custom{
    margin: 5vh 1vw 1vh;
    display: inline-block;
}

#beneficios-section{
	text-align: center;
	padding: 2vh 5vw;
	color: rgb(79, 79, 79);
}
#beneficios-section > p{
	font-size: 1.4vw;
    margin-bottom: 6vh;
}
.beneficio{
    margin: 3vh 0;
    padding-right: 0 !important;
}
.beneficio > div{
	padding: 0 !important;
	color: rgb(79, 79, 79);
}
.beneficio > div.beneficio-text{
	padding: 0 .4vw !important;
}
.beneficio > div > img{
	width: 80%;
}
.beneficio > div > p{
	margin-top: 0;
}

#equipo-section{
	background-color: #ECECEC;
	text-align: center;
    padding: 7vh 3vw;
}
#equipo-section > h4{
	margin-bottom: 10vh;
}
#equipo-section > div > div > div.imagen-equipo > img{
    width: 80%;
}
#equipo-section > div > div > div.description-equipo > h6{
	color: #ED3529;
    font-size: 1.5vw;
    font-family: 'Gill Sans WGL Bold';
}
#equipo-section > div > div > div.description-equipo > p{
    font-family: 'Gill Sans WGL Bold';
    font-size: 1.1vw;
}
#equipo-section > div > div > div.description-equipo > p.equipo-horario{
	font-weight: bold;
	font-size: 1.5vw;
}
#equipo-section > div > div > div.description-equipo > .equipo-iconos > a > img{
	width: 4.3vw;
}
#equipo-section > div > div > div.description-equipo > .equipo-iconos > a{
	cursor: pointer;
}
.toast_equipo{

}

#map-section{
    margin-bottom: 14vh;
}
#map-section > img{
	width: 100vw;
}
#map-section > p{
    font-size: 1.5vw;
    margin: 4vh 0 6vh 0;
}
#map-section > a.btn-custom{
    margin: 0 1vw;
}
#map-section > a.btn-custom > i{
    font-size: 1.6vw;
}

#otros-section{
	background-color: #ECECEC;
    padding: 6vh 0;
}
#otros-section > h4{
	margin-bottom: 8vh;
}
#otros-section > div > div{
	padding: 0;
}
#otros-section > div > div > img{
	width: 100%;
}
#otros-section > div > div > div#otros-text{
	width: 50vw;
	color: #fff;
    background: #ed3529;
    margin: 10vh 1vw 0 0;
    padding: 6vh 6vw;
    float: right;
}
#otros-section > div > div > div#otros-info{
	padding: 43vh 2vw 4vh;
	color: #ed3529;
}
#otros-section > div > div > div#otros-info > h5{
	font-size: 1.5vw;
	margin-bottom: 0;
}
#otros-section > div > div > div#otros-info > p{
	margin-top: 0;
	font-size: 1.3vw;
}
#otros-section > div > div > div#otros-info > a{
	position: absolute;
}
#otros-section > div > div > div#otros-info > img#otros-bosques{
	width: auto;
    height: 23vh;
}
#otros-section > div > div > div#otros-info > #otros-caracteristicas > div{
	border-right: 2px solid;
	min-height: 17vh;
}
#otros-section > div > div > div#otros-info > #otros-caracteristicas > div > h5{
	font-size: 1.4vw;
}
#otros-section > div > div > div#otros-info > #otros-caracteristicas > div > p{
	font-size: 2vw;
    margin: 0;
}
.otros-section-mobile{
	display: none;
}
.otro-otros-section-mobile{
    width: 80vw;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
}
.otro-otros-section-mobile > div > img{
	width: 100%;
}
.otro-text-section-mobile{
	padding: 0 3vw 3vh;
}
.otro-text-section-mobile > h5{
	color: #ED3529;
	margin-bottom: 0;
	font-size: 5vw;
}
.otro-text-section-mobile > p{
	color: #ED3529;
	margin-top: 0;
	font-size: 3.5vw;
}
.otro-text-section-mobile > a{
	font-size: 3.5vw;
    display: block;
    margin: 4vh auto 0;
    width: 44vw;
    text-align: center;
}
.otro-text-section-mobile > p.otros-text-description-mobile{
	color: #000;
	margin-top: 2vh;
}

#catalogo-footer{
	background-image: url(../images/imagen-contactanos.jpg);
    min-height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#catalogo-footer > .row{
	margin-bottom: 0;
}
#catalogo-footer > div > #catalogo-form-footer > h4{
	font-size: 2.1vw;
	color: #fff;
}
#catalogo-footer > div > #catalogo-form-footer > h4 b{
	color: #fff;
}
#catalogo-footer > div > #catalogo-form-footer > form > textarea,
#catalogo-footer > div > #catalogo-form-footer > form > input{
    width: 30vw;
    background: #fff;
    border: 0;
    margin: 2vh 0;
    padding-left: 2vw;
    color: #000;
}
#catalogo-footer > div > #catalogo-form-footer > form > textarea#comment{
	width: 32vw;
	height: 30vh;
}
#catalogo-footer > div > #catalogo-form-footer > form > p{
	text-align: left;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: #fff;
    border-radius: 0;
    border: 0; 
}
#catalogo-footer > div > #catalogo-form-footer > form > p > label > span{
	color: #fff;
}
#catalogo-footer > div > #catalogo-form-footer > form > p > label > span > span{
	color: #FFF799;
}
/*======= /Main =======*/

/*======= Footer =======*/
footer{
	height: 20vh;
 	padding: 6vh 0;
	background-color: #ED3529;
}
footer > div > p{
	right: 2vw;
    color: #fff;
    font-size: 1.5vw;
    position: absolute;
}
footer > div > a > img{
	right: 31.2vw;
    margin-top: 3vh;
    color: #fff;
    position: absolute;
}
/*======= /Footer =======*/

/*==================================*/
/*              Modelo              */
/*==================================*/
/*== Header ==*/
#header-text > div > h4 {
    color: #fff;
    font-weight: bold;
    margin-top: 0;
    font-size: 2.8vw;
}
#header-text > div > p {
    color: #fff;
    margin-top: 0;
    font-size: 2.4vw;
}
/*== /Header ==*/

/*== Main ==*/
.carousel .carousel-item {
    opacity: 1 !important;
    height: 35vh;
    width: 25vw;
    padding: 0 0.5vw;
}
.carousel .carousel-item img{
    width: 100%;
    height: 100%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#models-section-models {
    text-align: center;
    background-color: #fff;
    padding: 8vh 0;
}
#models-divider{
	height: 0.4vh;
    width: 80vw;
    margin: 9vh auto 19vh;
	background-color: rgb(79, 79, 79);
}
#models-section-models > h3{
	color: #ED3529;
	font-size: 2.2vw;
    margin-bottom: 9vh;
}
#models-section-models > p{
    color: #000;
    font-size: 1.4vw;
    padding: 0 21vw;
    margin-bottom: 0;
}
#models-section-models > div.row{
    width: 50vw;
    margin-top: 8vh;
}
#models-section-models > div.row p{
    color: #ED3529;
    font-size: 2.2vw;
}

#plano-section{
	background-color: #ECECEC;
	text-align: center;
    padding: 7vh 3vw;
}
#plano-section img{
	margin-top: 2vh;
	max-width: 74vw;
    max-height: 100vh;
}
.plano-dos > img{
    max-width: 30vw !important;
    margin: 2vh 1vw 0;
    display: inline-block;
}	

#mas-section{
	text-align: center;
	padding: 7vh 9vw;
}
#mas-section iframe{
	width: 100%;
}
#mas-section #mas-divider{
	height: 0.1vh;
    width: 100%;
    margin: 20vh auto 14vh;
	background-color: rgb(79, 79, 79);
} 
#mas-section > .mas-modelo{
    border-radius: 5px;
    padding-bottom: 5vh;
    width: 30vw !important;
    min-height: 88vh;
    margin: 6vh auto 2vh;
}
#mas-section > .mas-modelo > div > img{
	width: 100%;
	display: block;
}
#mas-section > .mas-modelo > div.models-slide-text{
    padding: 0 1vw 4vh;
}
#mas-section > .mas-modelo > div.models-slide-text > h5{
	text-align: left;
	color: #ED3529;
	margin-bottom: 5vh;
}
#mas-section > .mas-modelo > div.models-slide-text > p{
	text-align: left;
	margin: 0;
	font-size: 1.3vw;
	font-family: 'Gill Sans WGL';
}

.swiper-container-mas > .swiper-wrapper{
    width: 62.2vw !important;
    margin: auto;
}
.swiper-container-mas > .swiper-wrapper > .swiper-slide{
	border-radius: 5px;
    padding-bottom: 5vh;
    width: 30vw !important;
    min-height: 88vh;
}
.swiper-container-mas > .swiper-wrapper.swiper-wrapper-tres{
    width: 100% !important;
}
.swiper-container-mas > .swiper-wrapper.swiper-wrapper-tres > .swiper-slide{
    width: 24vw !important;
    /*margin: 0 1vw;*/
}
.swiper-container-mas > .swiper-wrapper.swiper-wrapper-one{
    width: 27.9vw !important;
    margin: auto;
}
.swiper-container-mas > .swiper-wrapper.swiper-wrapper-one > .swiper-slide{
    width: 27.9vw !important;
}
.swiper-container-mas > .swiper-wrapper > .swiper-slide > div > img{
	width: 100%;
	height: 50vh;
	display: block;
}
.swiper-container-mas > .swiper-wrapper > .swiper-slide > div.models-slide-text{
    padding: 0 1vw 4vh;
}
.swiper-container-mas > .swiper-wrapper > .swiper-slide > div.models-slide-text > h5{
	text-align: left;
	color: #ED3529;
	margin-bottom: 5vh;
}
.swiper-container-mas > .swiper-wrapper > .swiper-slide > div.models-slide-text > p{
	text-align: left;
	margin: 0;
	font-size: 1.3vw;
	font-family: 'Gill Sans WGL';
}
.swiper-container-mas {
	width: 100%;
	height: 100%;
	padding: 7vh 2vw;
}
.swiper-container-mas-mobile > .swiper-wrapper{
    width: 78vw !important;
    margin: auto;
}
.swiper-container-mas-mobile > .swiper-wrapper > .swiper-slide{
	border-radius: 5px;
    padding-bottom: 5vh;
    /* width: 77vw !important; */
    min-height: 76vh;
}
.swiper-container-mas-mobile > .swiper-wrapper > .swiper-slide > div > img{
	width: 100%;
	display: block;
}
.swiper-container-mas-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text{
    padding: 0 3vw 4vh;
}
.swiper-container-mas-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text > h5{
	text-align: left;
	color: #ED3529;
	margin-bottom: 5vh;
	font-size: 5vw;
}
.swiper-container-mas-mobile > .swiper-wrapper > .swiper-slide > div.models-slide-text > p{
	text-align: left;
	margin: 0;
	font-size: 3vw;
}
.swiper-container-mas-mobile {
	width: 100%;
	height: 100%;
	padding: 7vh 2vw;
	display: none;
}
/*== /Main ==*/